$primary: goldenrod;
$danger: orangered;
@import "~bootstrap/scss/bootstrap";

.column1 h2 {
  color: white;
}

.column2 h2 {
  color: greenyellow;
}

.column1 {
  background-color: darksalmon;
}

.column2 {
  background-color: blueviolet;
}
